.change_pas {
    /* max-width: 400px; */
    width: 40%;
    margin: auto;
    /* margin: 50px auto; */
    padding: 20px;
    
  }
    
  .change_pas1{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    margin-top: 80px;
  }
  
  
    .change_pas h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    
    .change_pas .form-group {
      margin-bottom: 15px;
    }
    
    .change_pas input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    .change_pas .icon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
    
    .change_pas .error-message {
      color: red;
      text-align: center;
      margin-top: 10px;
    }
    
    .change_pas button {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 4px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }
    
    @media (max-width: 768px) {
      .change_pas{
        width: 80%;
        margin: auto;
      }
      .change_pas1{
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 100%;
        padding: 10px;
        margin-top: 80px;
      }
    }